<settings>
  <ShowToU>True</ShowToU>
  <ListenPort>305</ListenPort>
  <IPv6Support>False</IPv6Support>
  <AutoListen>True</AutoListen>
  <ShowPopup>True</ShowPopup>
  <Password>1234</Password>
  <UseUPnP>False</UseUPnP>
  <ShowToolTip>False</ShowToolTip>
  <EnableNoIPUpdater>False</EnableNoIPUpdater>
  <NoIPHost>
  </NoIPHost>
  <NoIPUsername>
  </NoIPUsername>
  <NoIPPassword>
  </NoIPPassword>
</settings>